    </div>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/tableau-clients.js"></script>
    <script src="/js/tableau-fiche-a-charger.js"></script>
    <script src="/js/tableau-mes-charges.js"></script>
    <script src="/js/tableau-fiche-a-facturer.js"></script>
    <script src="/js/tableau-factures.js"></script>
    <script src="/js/tableau-fours.js"></script>
    <script src="/js/tableau-pieces-facture.js"></script>
    <script src="/js/tableau-pieces-charge.js"></script>
    <script src="/js/formulaire-fiche-a-facturer.js"></script>
    <script src="/js/ajouter-filtre.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/formulaires-modal.js"></script>
    <script src="/js/resizable.js"></script>
    <script>
      $(document).ready(function() {
    $('.select2-raison-sociale').select2();
});
    </script>
  </body>
</html>
