<div id="ajouter-four-modal" class="ajouter-four-modal">
        <span class="ajouter-four-close">&times;</span>
        <form id="ajouter-four-formulaire">
            <h3>Ajouter Four</h3>
            <div class="input-container">
                <label for="nomFour">Nom du Four:</label>
                <input type="text" id="nomFour" name="nomFour" required>
            </div>
            
            <div class="input-container">
                <label for="poidsMax">Poids Maximum:</label>
                <input type="text" id="poidsMax" name="poidsMax" required>
            </div>
            
            <div class="input-container">
                <label for="tempMax">Température Maximum:</label>
                <input type="text" id="tempMax" name="tempMax" required>
            </div>
            
            <button id="ajouter-four-bouton" type="submit">Ajouter Four</button>
        </form>
        
</div>