<%- include("partials/header") -%>
<div class="four-body">
  <h1>Fours</h1>
  <div class="four-button">
    <div class="four-button-left">
      <button id="four-ajouter-nouveau" type="button">
        <i class="bx bxs-plus-circle"></i>Ajouter Nouveau
      </button>
      <button type="button"><i class="bx bx-printer"></i></button>
      <button type="button"><i class="fa-solid fa-sliders"></i></button>
    </div>
    <div class="four-button-right">
      <button id="four-generer-rapport" type="button">
        
        <i class="bx bxs-file-export"></i>Générer un Rapport
      </button>
    </div>
  </div>
  <div class="four-table-container">
    <div id="tableau-four"></div>
  </div>
</div>

<%- include("partials/footer") -%>
