#ajouter-charge-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: red;
  color: black;
  z-index: 1000;
    height: 30px;
  width: 30px;
  border-radius: 0;
}

.form-modal {
  /* Dans ajouter-facture-formulaire.css */
}

.ajouter-charge-body {
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
  gap: 0px;
  height: 100vh;
  width: 100vw;
  padding-bottom: 50px;
  position: relative;
}

.ajouter-charge-body-formulaire,
.ajouter-charge-body-viewer {
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
  overflow: hidden;
  position: relative;
  min-width: 10rem;
  overflow: scroll;
}

.ajouter-charge-body-viewer {
  margin-top: 30px;
}

.ajouter-charge-body-formulaire {
  border-right: 2px solid black;
}

form#ajouter-charge-formulaire .grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
  padding-right: 20%;
}
.ajouter-charge-formulaire-section-title {
  grid-column: span 2;
  margin-top: 0px;
  margin-bottom: 0px;
}

#ajouter-charge-formulaire label {
  text-align: right;
  color: #00929c;
  font-weight: bold;
}

#ajouter-charge-formulaire input,
#ajouter-charge-formulaire select {
  border: none;
  padding: 5px;
  background-color: #f0f0f0;
  max-width: 200px;
}

/* Tableau */
.tableau-pieces-charge-container {
  margin-top: 3rem;
  overflow: auto;
}

.tableau-pieces-charge-container-buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tableau-pieces-charge-container-buttons button,
.tableau-pieces-charge-container-buttons select {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #00929c;
  color: white;
  border: #00929c solid 1px;
}

.tableau-pieces-charge .tabulator-headers {
  background-color: #00929c !important;
  color: white;
}

.button-rejeter#button-rejeter {
  background-color: red;
}
.button-enregistrer#button-enregistrer {
  background-color: rgb(77, 77, 77);
}
.button-quitter#button-quitter {
  background-color: rgb(77, 77, 77);
}
.button-autres#button-autres {
  background-color: white;
  color: black;
}

.formulaire-buttons {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: rgb(184, 184, 184);
  margin-bottom: 0;
  padding-left: 20px;
}


/*Largeur de la poignée de rezible pour rendre plus facile à cliquer*/
.ui-resizable-handle.ui-resizable-e {
    width: 15px; /* Adjust the width as needed */
}