#ajouter-facture-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: red;
  color: black;
  z-index: 1000;
  height: 30px;
  width: 30px;
  border-radius: 0;
}

.form-modal {
  z-index: 999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  background-color: #00929c;
  color: white;
  padding: 10px;
}

.ajouter-facture-body {
  display: flex;
  font-family: "Noto Sans JP", sans-serif;
  gap: 0px;
  height: 100vh;
  width: 100vw;
  padding-bottom: 50px;
  position: relative;
}

.ajouter-facture-body-formulaire,
.ajouter-facture-body-viewer {
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
  overflow: hidden;
  position: relative;
  min-width: 10rem;
  overflow: scroll;
}
.ajouter-facture-body-viewer {
  margin-top: 30px;
}

.ajouter-facture-body-formulaire {
  border-right: 2px solid black;
}

form#ajouter-facture-formulaire .container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  max-width: 100%;
  justify-content: center;
  align-items: start;
}

@media (max-width: 1400px) {
  form#ajouter-facture-formulaire .container {
    flex-direction: column;
  }

  .infos-generales {
    margin-top: 40px;
  }
}

form#ajouter-facture-formulaire .grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
  justify-content: left;
  flex: 1;
}
.ajouter-facture-formulaire-section-title {
  grid-column: span 2;
  margin-top: 0px;
  margin-bottom: 10px;
}

#ajouter-facture-formulaire label {
  text-align: right;
  color: #00929c;
  font-weight: bold;
  min-width: 160px;
}

#ajouter-facture-formulaire input,
#ajouter-facture-formulaire select {
  border: none;
  padding: 5px;
  background-color: #f0f0f0;
  max-width: 200px;
}

/* Tableau */
.tableau-pieces-facture-container {
  margin-top: 3rem;
  overflow: auto;
}

.tableau-pieces-facture-container-buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tableau-pieces-facture-container-buttons button,
.tableau-pieces-facture-container-buttons select {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #00929c;
  color: white;
  border: #00929c solid 1px;
}

.tableau-pieces-facture .tabulator-headers {
  background-color: #00929c !important;
  color: white;
}

.button-rejeter#button-rejeter {
  background-color: red;
}
.button-enregistrer#button-enregistrer {
  background-color: rgb(77, 77, 77);
}
.button-quitter#button-quitter {
  background-color: rgb(77, 77, 77);
}
.button-autres#button-autres {
  background-color: white;
  color: black;
}

.formulaire-buttons {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: rgb(184, 184, 184);
  margin-bottom: 0;
  padding-left: 20px;
}
