.charge-body {
  padding: 20px;
  margin: 1%;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
}

.charge-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.charge-button-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: auto;
}

.charge-button-right {
  margin-left: auto;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

button i {
  font-size: 24px;
}

#bouton-ajouter-nouveau-charge {
  background-color: #153d77;
  color: white;
}
#charge-generer-rapport {
  background-color: #ffb133;
}

.charge-table-container {
  margin-top: 3rem;
}

